/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.main {
  margin-top: 70px;
}

#dragandrophandler
{
  border: 2px dotted #0B85A1;
  width: 150px;
  height: 150px;
  color: #92AAB0;
  text-align: left;
  vertical-align:middle;
  padding: 10px 10px 10 10px;
  margin-bottom: 10px;
  font-size: 200%;
}

.btn-primary {
  margin: 10 10 10 0;
}
